@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    margin: 0 auto;
    width: 85%;
    text-align: center;
    background-color: rgb(176, 178, 255);
}

nav ul {
    list-style: none;
    list-style-position: inside;
    list-style-image: url(./assets/images/image\ copy.png);
    justify-content: center;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.p1 {
    padding: 25px 0;
    font-size: 20px;
    font-weight: 1000;
}