body {
    background-color: rgb(207, 207, 207);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgb(54, 54, 54);
    width: 300px;
    padding: 15px 15px;
    border-radius: 15px;
    color: white;
}

.sticky {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: green;
    border: 3px solid darkgreen;
    width: 100%;
    height: 30px;
}

.container {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr 1fr;
    gap: 1em;
}

@media (max-width: 768px) {
    .container {
        grid-template: 1fr / 1fr;
    }
}