@font-face {
    font-family: "rocksalt";
    src: url(../assets/fonts/RockSalt-Regular.ttf);
}

@font-face {
    font-family: "fredrick";
    src: url(../assets/fonts/FrederickatheGreat-Regular.ttf);
}