@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3e5d8;
}

.container {
    margin: 0 auto;
    background-color: white;
    width: 800px;
    height: 1550px;
    border-radius: 30px;
    overflow: hidden;
}

.in-con {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 1500px;
    border-radius: 20px;
    overflow: hidden;
}

h1 {
    font-family: "Young Serif", serif;
    color: hsl(24, 5%, 18%);
    font-size: 35px;
}

h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 57.20%, 33.90%);
    font-size: 25px;
    font-weight: 400;
}

h3 {
    color: hsl(332, 51%, 32%);
    font-size: 20px;
    font-weight: 600;
}

p {
    color: hsl(30, 10%, 34%);
    font-size: 16px;
}

.dark-red {
    font-size: 16px;
    color: hsl(14, 57.20%, 33.90%);
}

b {
    font-weight: 700;
}

li {
    color: hsl(30, 10%, 34%);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 25px;
    list-style: disc;
    margin-left: 20px;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 25px;
    list-style: decimal;
    margin-left: 20px;
}

ol li::marker, ul li::marker {
    font-weight: 700;
    color: hsl(14, 57.20%, 33.90%);
}

td {
    color: hsl(30, 10%, 34%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
}

tr:last-child td {
    border-bottom: none;
}

.prep-time {
    margin: 0 auto;
    background-color: #fff7fc;
    border-radius: 10px;
    width: 650px;
}

.in-pt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
    width: 580px;
    height: 180px;
}

.ing {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ins {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nut {
    display: flex;
    flex-direction: column;
    gap: 15px;
}