body {
    display: flex;
    gap: 20px;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 150px;
    background-color: #63c111;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}


.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    background-color: #63c111;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}

.div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 150px;
    background-color: #63c111;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}