body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.words {
    background-color: rgb(184, 184, 184);
    border: 1px black solid;
}

.container {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 1.5em;
}

@media (max-width: 768px) {
    .container {
        grid-template: 1fr / 1fr;
    }
}