* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e2e2e2;
}

.card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.h2-1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

.p1 {
    font-size: 16px;
    color: #666666;
}