* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background-image: 
    linear-gradient(90deg, rgba(104, 71, 0, 0.596), rgba(255, 255, 255, 0.685), rgba(0, 0, 0, 0.459) 60%),
    linear-gradient(120deg, rgba(0, 6, 95, 0.459), rgba(11, 92, 0, 0.438), rgba(0, 36, 199, 0.705) 90%);
    margin: 10px auto;
    padding: 20px;
    box-shadow: 5px 10px 20px 4px rgba(66, 32, 0, 0.6);
    width: 450px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}